@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    display: inline-block;
    width: 60vw;
    height: 70vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.671) 0px 0px 10px;
}

div#img {
    background: white url(../imagem/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    height: 45%;
}

div#formulario {
    padding: 10px;
}

div.form {
    background-color: blue;
}