@charset "UTF-8";

@font-face {
    font-family: 'dirty';
    src: url(fontes/Dirtyline\ 36daysoftype\ 2022.otf);
}

@font-face {
    font-family: 'inter';
    src: url(fontes/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza: #d3d3d3;
    --fonteh: dirty;
    --fontep: inter;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: var(--cinza);
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: var(--cinza);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.171);
    display: flex;
    flex-wrap: wrap;
}

nav > a {
    text-decoration: none;
    font-family: var(--fontep), sans-serif;
    color: var(--preto);
    padding: 10px 15px;
    font-weight: bold;
}

nav > a:hover {
    background-color: #afafaf;
    transition-duration: 0.3s;
}

h1{
    font-family: var(--fonteh);
    margin: 0px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.705);
}

main {
    flex-grow: 1;
}

main > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

main h2 {
    font-family: var(--fonteh);
     text-align: center;
}

p {
    font-family: var(--fontep);
     text-align: center;
}

img {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.445);
    margin: auto;
    border-radius: 7px;
    max-width: 350px;
    width: 80%;
}

footer > h2{
    font-family: var(--fonteh);
}

ul {
    font-family: sans-serif;
}

footer {
    background-color: var(--preto);
    padding: 1px;
}

footer > h2#footer {
    color: var(--branco);
    margin-left: 40px;
    text-align: left;
}

ul {
    color: var(--branco);
    margin-top: 0px;
}

li > a {
    color: var(--branco);
}