/* estilo para telas */

@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: rgb(155, 155, 155);
}

menu li {
    display: inline-block;
    padding: 10px;
}

article {
    width: 50vw;
    margin: auto;
}